<p id="notice"><%= notice %></p>

<p>
  <strong>Lat:</strong>
  <%= @place.lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @place.long %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @place.short_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Categories:</strong>
  <%= @place.categories %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
